body {
  background: url(../image/logo.jpg) no-repeat #161616;
  background-size: cover;
  overflow: hidden
}


.example::-webkit-scrollbar {
  display: none
}

.example {
  -ms-overflow-style: none;
  scrollbar-width: none
}

a.lulu {
  text-decoration: none;
  color: #FFF;
  margin-left: 800px;
  top: 1px;
  font-family: josefin sans,sans-serif;
  font-size: 60px;
}
a.dl {
  text-decoration: none;
  color: #FFF;
  font-size: 37px;
  font-family: 'Courier New', monospace;
  top: 175px;
  left: 690px;
}
a.mixiot {
  text-decoration: none;
  color: #FFF;
  font-size: 37px;
  font-family: 'Courier New', monospace;
  top: 175px;
  left: 720px;
}